<h1>The Mine</h1>

<header>
    <a href="/">Back to shop...</a>
    <p>Current XP: <%= current_user()['xp'] %></p>
</header>

<div class="rocks">
    <% ores.each do |ore| %>
    <img src="<%= ore['image_url'] %>" alt="">
    <form action="/<%= user_id %>/<%=ore['xp_gained'] %>/gain" method="get">
        <button>MINE</button>
    </form>
<% end %>
</div>
